<form id="loginForm">
    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="fas fa-user"></i>
        </span>
        <input type="text" class="form-control" id="username" name="username" 
               placeholder="Username" required>
    </div>
    
    <div class="input-group mb-4">
        <span class="input-group-text">
            <i class="fas fa-lock"></i>
        </span>
        <input type="password" class="form-control" id="password" name="password" 
               placeholder="Password" required>
    </div>
    
    <button type="submit" class="btn btn-auth" id="loginBtn">
        <span class="loading-spinner" id="loadingSpinner"></span>
        <span id="loginText">Login</span>
    </button>
</form> 